footer
  h2#contactme Contactame
    div.icons-container
      div.icons-item
        a(href="https://github.com/Ryuunofire27" target="_blank")
          i.fab.fa-github
      div.icons-item
        a(href="https://www.facebook.com/profile.php?id=100010389015913" target="_blank")
          i.fab.fa-facebook-square
      div.icons-item
        i.fas.fa-envelope
      div.icons-item
        a(href="https://www.youtube.com/channel/UCO9ohKt3bA-Fbr_kSR3QnXQ/featured" target="_blank")
          i.fab.fa-youtube